<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Docladder- Contact-Us</title>

    <!-- Favicon -->
    <link href="images/favicon.png" rel="shortcut icon" />

    <!-- Google Font -->
    <!-- <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet"> -->

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.0/font/bootstrap-icons.css" rel="stylesheet" crossorigin="anonymous">

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/magnific-popup/magnific-popup.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/responsive.css" />
    
    

  </head>
<body>

<!--=================================
Header -->
<header class="header header-transparent">
  <nav class="navbar navbar-static-top navbar-expand-lg navbar-light header-sticky">
      <div class="container-fluid">
          <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <a class="navbar-brand" href="index.html">
              <img class="img-fluid" src="images/main-logo.png" alt="logo">
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link" href="index.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="about.html" aria-haspopup="true" aria-expanded="false">About Us</a>
                  </li>
                  <li class="nav-item dropdown ">
                      <a class="nav-link" href="equipments.html" id="navbarDropdown" role="button" data-toggle aria-haspopup="true" aria-expanded="false">Equipments<i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="equipments-product.html">Buy</a></li>
                          <li><a class="dropdown-item" href="equipment-register.html">Sell</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown ">
                      <a class="nav-link" href="infrastructure.html" id="navbarDropdown" role="button" data-bs-toggle aria-haspopup="true" aria-expanded="false">Infrastructure<i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="infrastructure-products.html">Buy</a></li>
                          <li><a class="dropdown-item" href="infrastructure-register.html">Sell</a></li>
                      </ul>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" href="contact-us.html" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="search-recruiter.html" aria-haspopup="true" aria-expanded="false">Search Recruiter</a>
                  </li>

              </ul>
              <div class="add-listing">
                  <div class="login d-inline-block">
                      <!--<a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Job Seeker<span>|</span></a>-->
                      <a href="job-seeker.html">Job Seeker<span>|</span></a>
                  </div>
                  <div class="login d-inline-block me-4 me-lg-3">
                      <!--<a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Recruiter</a>-->
                      <a href="recruiter-signup.html">Recruiter Zone</a>
                  </div>
                  <a class="btn btn-outline btn-md post-job-btn" href="recruiter-signup.html">Post a job</a>
              </div>
          </div>
          
      </div>
  </nav>
</header>
<!--=================================
Header -->

<!--=================================
Slider Banner -->

<section class="inner-banner" style="background-image: url(images/bg-slider/contact-banner.png);" id="homepage-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center position-relative inner-slider-heading-main">
        <h1>Contact Us</h1>
        <!--<h2>Build an Ecosystem for Healthcare Industry</h2>-->
      </div>
      </div>
    </div>

</section>
<!--=================================
Slider Banner -->

<!--=================================
Ecosystem -->
<section class="space-ptb contact-section">
  <div class="container">
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h2 class="main-site-title sub-title-bg title-tab"><span>Build an Ecosystem for Healthcare Industry</span></h2>
            <div class="title-mobile">
              <h2 class="main-site-title sub-title-bg mb-2">
                <span>Build an Ecosystem for </span> 
              </h2>
              <h2 class="main-site-title sub-title-bg ">
               <span class="mt-4">Healthcare Industry</span> </span>
              </h2>
            </div>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-sm-4 mb-3 mb-sm-0">
              <div class="article text-center">
                  <input type="button" class="btn btn-secondary btn-contact btn-contact-1" value="I’m a Job Seeker">
                  <ul class="moretext-1 list-unstyled contact-details-ul" id="contact-listing" style="display: none;">
                      <li>
                          <a href="tel:+91 9877666442">
                              <i class="fas fa-phone fa-flip-horizontal fa-fw"></i>
                              <span class="ps-2">999 999 9999</span>
                          </a>
                      </li>
                      <li>
                          <a href="tel:+91 9877666442">
                              <i class="fas fa-envelope fa-flip-horizontal fa-fw"></i>
                              <span class="ps-2">vermaashwin5@gmail.com</span>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="article text-center">
              <input type="button" class="btn btn-secondary btn-contact btn-contact-2" value="I’m Recruiter">
              <ul class="moretext-2 list-unstyled contact-details-ul" id="contact-listing"  style="display: none;">
                  <li>
                      <a href="tel:+91 9877666442">
                          <i class="fas fa-phone fa-flip-horizontal fa-fw"></i>
                          <span class="ps-2">999 999 9999</span>
                      </a>
                  </li>
                  <li>
                      <a href="tel:+91 9877666442">
                          <i class="fas fa-envelope fa-flip-horizontal fa-fw"></i>
                          <span class="ps-2">vermaashwin5@gmail.com</span>
                      </a>
                  </li>
              </ul>
          </div>
          </div>
          <div class="col-sm-4 mb-3 mb-sm-0">
            <div class="article text-center">
              <input type="button" class="btn btn-secondary btn-contact btn-contact-3" value="I’m trying to Buy/Sell">
              <ul class="moretext-3 list-unstyled contact-details-ul" id="contact-listing" style="display: none;">
                  <li>
                      <a href="tel:+91 9877666442">
                          <i class="fas fa-phone fa-flip-horizontal fa-fw"></i>
                          <span class="ps-2">999 999 9999</span>
                      </a>
                  </li>
                  <li>
                      <a href="tel:+91 9877666442">
                          <i class="fas fa-envelope fa-flip-horizontal fa-fw"></i>
                          <span class="ps-2">vermaashwin5@gmail.com</span>
                      </a>
                  </li>
              </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-12 healthcare-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.  </p>
            <ul class="list-unstyled text-center d-flex justify-content-center">
              <li><a href="tel:+91 9877666442"><i class="fas fa-phone fa-flip-horizontal fa-fw"></i><span class="ps-2">999 999 9999</span></a></li>
              <li><a href="mailto:info@docladder.com"><i class="fas fa-envelope fa-fw"></i><span class="ps-2">info@docladder.com</span></a></li>
            </ul>
          </div>
        </div>
      

  </div>
</section>
<!--=================================
Ecosystem -->

<!--=================================
Advertsie with Us -->
<section class="space-ptb bg-dark-primrary" id="mobile-app">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center advertise-block">
          <h2 class="title pb-3 pb-lg-0">Do You Want to Advertise With Us</h2>
          <div class="justify-content-center d-flex mt-3 mt-lg-5 email-btn">
            <a class="btn btn-outline-white" href="#">Email Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!--=================================
Advertsie with Us -->

<!--=================================
Contact Form -->
<section class="space-ptb" id="contact-form">
  <div class="container">
      <div class="row pt-3 px-sm-0 justify-content-center">
         <div class="col-lg-7 col-sm-9">
            <div class="row justify-content-center">
              <div class="col-sm-3"></div>
              <div class="col-sm-7">
                <div class="query-heading">
                  <h2>Send Us Your Query</h2>
                </div>
              </div>
                <form>
                    <div class="form-group row mb-3">
                      <div class="col-3"><label>Name</label></div>
                      <div class="col-9"><input type="text" class="form-control" id="Username"></div>
                    </div>
                    <div class="form-group row mb-3">
                      <div class="col-3"><label>Contact No.</label></div>
                      <div class="col-9"><input type="text" class="form-control" id="phone"></div>
                    </div>
                    <div class="form-group row mb-3">
                      <div class="col-3"><label>Email ID</label></div>
                      <div class="col-9"><input type="text" class="form-control" id="email"></div>
                    </div>
                    <div class="form-group row mb-3">
                      <div class="col-3"><label>Message</label></div>
                      <div class="col-9"><textarea rows="5" class="form-control" id="message"  maxlength="250"></textarea></div>
                    </div>
                    <div class="row mt-md-3 mt-2">
                      <div class="col-3 text-center"></div>
                      <div class="col-9 text-center"><input class="btn btn-primary main-btn" type="button" value="Submit"></div>
                    </div>
                </form>
            </div>
        </div>
      </div>
    
  </div>
</section>
<!--=================================
Contact Form -->

    <!--=================================
Newsletter  -->
<section class="space-ptb bg-light">
  <div class="container">
      <div class="row" style="align-items:center;">
          <div class="col-md-5 newsletter-img">
              <img class="img-fluid pe-md-5 me-md-4" src="images/newsletter.png" alt="" style="user-select: auto;">
          </div>
          <div class="col-md-6 text-left">
              <div class="newsletter-heading text-left">
                  <h2 class="title">Stay Tuned!</h2>
                  <h3 class="title">Sign Up for the Latest Healthcare Jobs News</h3>
                  <div class=" mt-3">
                      <div class="form-group mb-3 d-flex newsletter-email">
                          <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter Email">
                          <button type="submit">Subscribe</button>
                      </div>
                  </div>
              </div>
          </div>
          
      </div>
  </div>
</section>
<!--=================================
Newsletter -->

<!--=================================
Footer-->
<footer class="footer mt-0">
  <div class="container">

    <div class="row">
        <div class="col-lg-8">
          <div class="footer-logo"><a class="navbar-brand" href="index.html">
              <img class="img-fluid" src="images/footer-logo.png" alt="logo"></a></div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-link">
                <h5>QUICK LINKS</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="footer-link">
                <h5>JOB SEEKER</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="footer-link">
                <h5>RECRUITERS</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pt-3">
            <div class="footer-contact-info bg-holder">
              <ul class="list-unstyled mb-0">
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor cumsan lacus vel facilisis. </p></li>
                <li><h4>DOWNLOAD APP</h4></li>
                <li>
                  <div class="d-block d-sm-flex mb-0 mb-lg-2 download-btns">
                    <a class="btn btn-white btn-outline-dark btn-app mb-2 mb-sm-0 py-2 me-2" href="#">
                      <i class="fab fa-google-play"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Get it on  </small>
                        <span class="mb-0 d-block">Google Play</span>
                      </div>
                    </a>
                    <a class="btn btn-white btn-outline-dark btn-app" href="#">
                      <i class="fab fa-apple"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Download on the </small>
                        <span class="mb-0 d-block">App Store</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="pb-1"><h4>STAY CONNECTED</h4></li>
                <li class="social">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </li>
              </ul>
              
            </div>
          
        </div>
    </div>
  </div>
 
  <div class="footer-bottom border-dark-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0"> © 2022 Docladder. ALL RIGHTS RESERVED </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
Footer-->

<!--=================================
Back To Top-->
   <div id="back-to-top" class="back-to-top">
     <i class="fas fa-angle-up"></i>
   </div>
<!--=================================
Back To Top-->

<!--=================================
testing Modal Popup -->
<div class="modal  modal-right popup-modal show" id="exampleModalCenterleft" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header p-4" id="popup-list-desc">
        <div class="job-list" style="padding:0;" >
          <div class="job-list-details">
            <div class="job-list-info">
              <div class="job-list-title">
                <h5 class="mb-0"><a href="#">Lorem Ispum</a></h5>
              </div>
              <div class="job-list-option">
                <ul class="list-unstyled">
                  <li>
                    <a href="#">Lorem Ispum</a> <span class="space-line">|</span>
                  </li>
                  <li class="date-posted"><i class="far fa-calendar pe-1"></i>03-Mar-2022</li>
                </ul>
                <ul class="list-unstyled job-middle">
                  <li style="width: 25%;"><i class="fas fa-map-marker-alt pe-1"></i><span>Moga</span></li>
                  <li><i class="fas fa-rupee-sign pe-1"></i><span>Annual CTC: 60 to 72 Lacs</span></li>
                </ul>
                <ul class="list-unstyled job-middle job-list-favourite-time">
                  <li><a class="btn btn-primary d-grid" href="login.html"> Apply Now</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div style="position: relative;">
         <button type="button" class="btn-close popup-btn" data-bs-dismiss="modal" aria-label="Close" style="position: absolute;top: -80px;right: 5px;"></button>
        </div>
      </div>
      <div class="modal-body">
       <div class="login-register">
          <fieldset>
            <legend class="px-2">Description</legend>
            <div id="jobDescriptionText" class="jobsearch-jobDescriptionText">
              <p>Looking for a front-end developer which can design and develop websites using WordPress CMS.</p>
              <p><b>Min 6 Months experience is required to apply for this job</b></p>
              <p>Job Type: Full-time</p>
              <p>Salary: ₹12,000.00 - ₹32,000.00 per month</p>
              <p>Schedule:</p>
              <ul>
                <li>Day shift</li>
              </ul>
              <p>Education:</p>
              <ul>
                <li>Bachelor's (Preferred)</li>
              </ul>
              <p>Work Remotely:</p>
              <ul>
                <li>No</li>
              </ul>
            </div>
            
          </fieldset>
        </div>
      </div>
    </div>
  </div>
</div>
<!--=================================
testing Modal Popup -->

<!--=================================
Javascript -->

 

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/jquery.appear.js"></script>
    <script src="js/counter/jquery.countTo.js"></script>
    <script src="js/owl-carousel/owl-carousel.min.js"></script>
    <script src="js/magnific-popup/jquery.magnific-popup.min.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>
    <script>
      $('.btn-contact-1').click(function() {
          $('.moretext-1').slideToggle();
          if ($('.btn-contact-1').text() == "I’m a Job Seeker") {
              $(this).text("I’m a Job Seeker")
          } else {
              $(this).text("I’m a Job Seeker")
          }
      });
    </script>
    <script>
      $('.btn-contact-2').click(function() {
          $('.moretext-2').slideToggle();
          if ($('.btn-contact-2').text() == "I’m a Recruiter") {
              $(this).text("I’m a Recruiter")
          } else {
              $(this).text("I’m a Recruiter")
          }
      });
    </script>
    <script>
      $('.btn-contact-3').click(function() {
          $('.moretext-3').slideToggle();
          if ($('.btn-contact-3').text() == "I’m trying to Buy/Sell") {
              $(this).text("I’m trying to Buy/Sell")
          } else {
              $(this).text("I’m trying to Buy/Sell")
          }
      });
    </script>
</body>
</html>
