<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Docladder- Job Seeker Change Password</title>

    <!-- Favicon -->
    <link href="images/favicon.png" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/select2/select2.css" />
    
    <!-- Page CSS Implementing Plugins (Remove the plugin CSS here if site does not use that feature)-->
    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
<link rel="stylesheet" href="css/responsive.css" />

  </head>
  <body>

<!--=================================
Header -->
<header class="header header-transparent" id="job-seeker">
  <nav class="navbar navbar-static-top navbar-expand-lg navbar-light header-sticky">
    <div class="container-fluid">
      <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
          <span></span>
          <span></span>
          <span></span>
      </button>
      <a class="navbar-brand" href="index.html">
        <img class="img-fluid" src="images/main-logo.png" alt="logo">
      </a>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html" id="navbarDropdown" role="button"  aria-haspopup="true" aria-expanded="false">Home</a>
          </li>
          <li class="nav-item dropdown active">
            <a class="nav-link" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My Profile<i class="fas fa-chevron-down fa-xs"></i></a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="job-seeker-profile.html">Profile</a></li>
              <li><a class="dropdown-item" href="job-seeker-change-password.html">Change Password</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="community.html"  aria-haspopup="true" aria-expanded="false">Community</a>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Postings <i class="fas fa-chevron-down fa-xs"></i>
              </a>
              <ul class="dropdown-menu">
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Create Postings <i class="fas fa-chevron-right fa-xs"></i></a>
                    <ul class="dropdown-menu left-side">
                      <li><a class="dropdown-item" href="job-seeker-equipment-form.html">Equipment Posting</a></li>
                      <li><a class="dropdown-item" href="job-seeker-space-form.html">Space Posting</a></li>
                    </ul>
                </li>
                <li class="dropdown-submenu">
                  <a class="dropdown-item dropdown-toggle" href="javascript:void(0)">Manage Postings <i class="fas fa-chevron-right fa-xs"></i></a>
                    <ul class="dropdown-menu left-side">
                      <li><a class="dropdown-item" href="job-seeker-manage-equipments.html">Manage Equipment</a></li>
                      <li><a class="dropdown-item" href="job-seeker-manage-space.html">Manage Space</a></li>
                    </ul>
                </li>
                  
              </ul>
            </li>
          <li class="nav-item">
               <a class="nav-link" href="premium-job-seeker-payment.html"  aria-haspopup="true" aria-expanded="false">Premium Job Seeker</a>
          </li>
          <li class="nav-item">
               <a class="nav-link" href="job-seeker-search-recruiter.html"  aria-haspopup="true" aria-expanded="false">Search Recruiter</a>
          </li>
          
        </ul>
      </div>
      <div class="add-listing">
        <div class="login d-inline-block me-3">
            <a data-placement="bottom" title="Username" data-toggle="tooltip">Welcome <span style="color:#443000;padding:0;">Username</span></a>
        </div>
        <a class="btn btn-outline btn-md logout-btn" href="job-seeker.html"><i class="fas fa-power-off"></i>Logout</a>
      </div>
    </div>
  </nav>
</header>
<!--=================================
Header -->

<!--=================================
Register -->
<section class="space-ptb-outer bg-light edit-profile job-seeker-posting">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8 text-center mb-3"><h2 class="main-site-title sub-title-bg"><span>MY Profile</span></h2></div>
      <div class="col-lg-8">
        <form class="postjob-form">
          <div class="box-header">
            <h4><i class="login-icon fas fa-key me-1"></i>Change Password</h4>
          </div>
            <div class="box">
                <div class="box-body">
                    <div class="bg-white login-register justify-content-center">
                      <div class="row">
                          <div class="form-group col-sm-8 mb-3">
                              <label class="form-label">Old Password </label>
                              <input type="password" class="form-control">
                          </div>
                          <div class="form-group col-sm-4 mb-3">
                            <div class="forget-pass-btn"><input class="" type="reset" value="Forget Password"></div>
                          </div>
                          <div class="form-group col-md-6 mb-3">
                              <label class="form-label" for="password2">New Password</label>
                              <input type="password" class="form-control">
                          </div>
                          <div class="form-group col-md-6 mb-3">
                              <label class="form-label" for="password2">Confirm Password</label>
                              <input type="password" class="form-control">
                          </div>
                          <div class="form-group col-md-12 mt-2 mb-2 mb-lg-3 text-center">
                              <input class="btn btn-secondary main-btn" type="button" value="Update">
                          </div>
                      </div>
                    </div>
                </div>
            </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--=================================
Register -->


<!--=================================
Footer-->
<footer class="footer mt-0">
  <div class="container">

    <div class="row">
        <div class="col-lg-8">
          <div class="footer-logo"><a class="navbar-brand" href="index.html">
              <img class="img-fluid" src="images/footer-logo.png" alt="logo"></a></div>
          <div class="row">
            <div class="col-lg-4 col-md-12">
              <div class="footer-link">
                <h5>QUICK LINKS</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="footer-link">
                <h5>JOB SEEKER</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-12">
              <div class="footer-link">
                <h5>RECRUITERS</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pt-3">
            <div class="footer-contact-info bg-holder">
              <ul class="list-unstyled mb-0">
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor cumsan lacus vel facilisis. </p></li>
                <li><h4>DOWNLOAD APP</h4></li>
                <li>
                  <div class="d-block d-sm-flex mb-0 mb-lg-2 download-btns">
                    <a class="btn btn-white btn-outline-dark btn-app mb-2 mb-sm-0 py-2 me-2" href="#">
                      <i class="fab fa-google-play"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Get it on  </small>
                        <span class="mb-0 d-block">Google Play</span>
                      </div>
                    </a>
                    <a class="btn btn-white btn-outline-dark btn-app" href="#">
                      <i class="fab fa-apple"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Download on the </small>
                        <span class="mb-0 d-block">App Store</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="pb-1"><h4>STAY CONNECTED</h4></li>
                <li class="social">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </li>
              </ul>
              
            </div>
          
        </div>
    </div>
  </div>
 
  <div class="footer-bottom border-dark-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0"> © 2022 Docladder. ALL RIGHTS RESERVED </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
Footer-->


<!--=================================
Back To Top-->
   <div id="back-to-top" class="back-to-top">
     <i class="fas fa-angle-up"></i>
   </div>
<!--=================================
Back To Top-->

<!--=================================
Javascript -->

    <!-- JS Global Compulsory (Do not remove)-->
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/popper/popper.min.js"></script>
    <script src="js/bootstrap/bootstrap.min.js"></script>
    
    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/owl-carousel/owl-carousel.min.js"></script>

    <!-- Page JS Implementing Plugins (Remove the plugin script here if site does not use that feature)-->
    <script src="js/select2/select2.full.js"></script>

    <!-- Template Scripts (Do not remove)-->
    <script src="js/custom.js"></script>

</body>
</html>