<!DOCTYPE html>
<html lang="en">
  <head>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Docladder- Job Description</title>

    <!-- Favicon -->
    <link href="images/favicon.png" rel="shortcut icon" />

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">

    <!-- CSS Global Compulsory (Do not remove)-->
    <link rel="stylesheet" href="css/font-awesome/all.min.css" />
    <link rel="stylesheet" href="css/flaticon/flaticon.css" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />

    <!-- Template Style -->
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/responsive.css" />

  </head>
<body>

<!--=================================
Header -->
<header class="header header-transparent">
  <nav class="navbar navbar-static-top navbar-expand-lg navbar-light header-sticky">
      <div class="container-fluid">
          <button id="nav-icon4" type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse">
              <span></span>
              <span></span>
              <span></span>
          </button>
          <a class="navbar-brand" href="index.html">
              <img class="img-fluid" src="images/main-logo.png" alt="logo">
          </a>
          <div class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                  <li class="nav-item dropdown">
                      <a class="nav-link" href="index.html" id="navbarDropdown" role="button" aria-haspopup="true" aria-expanded="false">Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="about.html" aria-haspopup="true" aria-expanded="false">About Us</a>
                  </li>
                  <li class="nav-item dropdown ">
                      <a class="nav-link" href="equipments.html" id="navbarDropdown" role="button" data-toggle aria-haspopup="true" aria-expanded="false">Equipments<i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="equipments-product.html">Buy</a></li>
                          <li><a class="dropdown-item" href="equipment-register.html">Sell</a></li>
                      </ul>
                  </li>
                  <li class="nav-item dropdown ">
                      <a class="nav-link" href="infrastructure.html" id="navbarDropdown" role="button" data-bs-toggle aria-haspopup="true" aria-expanded="false">Infrastructure<i class="fas fa-chevron-down fa-xs"></i></a>
                      <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                          <li><a class="dropdown-item" href="infrastructure-products.html">Buy</a></li>
                          <li><a class="dropdown-item" href="infrastructure-register.html">Sell</a></li>
                      </ul>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="contact-us.html" aria-haspopup="true" aria-expanded="false">Contact Us</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link" href="search-recruiter.html" aria-haspopup="true" aria-expanded="false">Search Recruiter</a>
                  </li>

              </ul>
              <div class="add-listing">
                  <div class="login d-inline-block">
                      <!--<a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Job Seeker<span>|</span></a>-->
                      <a href="job-seeker.html">Job Seeker<span>|</span></a>
                  </div>
                  <div class="login d-inline-block me-4 me-lg-3">
                      <!--<a href="login.html" data-bs-toggle="modal" data-bs-target="#exampleModalCenter">Recruiter</a>-->
                      <a href="recruiter-signup.html">Recruiter Zone</a>
                  </div>
                  <a class="btn btn-outline btn-md post-job-btn" href="recruiter-signup.html">Post a job</a>
              </div>
          </div>
          
      </div>
  </nav>
</header>
<!--=================================
Header -->


<!--=================================
Slider Banner -->
<section class="inner-banner" style="background-image: url(images/bg-slider/inner-banner.png);" id="homepage-banner">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center position-relative inner-slider-heading-main">
        <h1>Job Description</h1>
      </div>
      </div>
    </div>

</section>
<!--=================================
Slider Banner -->


<!--=================================
job list -->
<section class="space-ptb bg-light-white" id="job-description">
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <div class="row">
          <div class="col-md-12">
            <div class="job-list border p-3">
              <div class=" job-list-logo me-3">
                <img class="img-fluid" src="images/marketing.png" alt="">
              </div>
              <div class="job-list-details">
                <div class="job-list-info">
                  <div class="job-list-title">
                    <h5 class="main-h5 mb-0">Payroll and Office Administrator</h5>
                  </div>
                  <div class="job-list-option">
                    <ul class="list-unstyled">
                      <li><i class="fas fa-map-marker-alt pe-1"></i>New Castle, PA</li>
                      <li><i class="fas fa-phone fa-flip-horizontal fa-fw"></i><span class="ps-2">(123) 345-6789</span></li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="job-list-favourite-time">
                <!--<a  class="job-list-favourite order-2" href="#"><i class="far fa-heart"></i></a>-->
                <span class="job-list-time order-1"><i class="far fa-clock pe-1"></i>2W ago</span>
              </div>
            </div>
          </div>
        </div>
        <div class="border p-4 mt-3 mt-lg-3 bg-white">
          <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
              <div class="d-flex">
                <i class="font-xll text-primary align-self-center flaticon-debit-card"></i>
                <div class="feature-info-content ps-3">
                  <label class="mb-1">Offered Salary</label>
                  <span class="mb-0 fw-bold d-block text-dark">£15,000 - £20,000</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
              <div class="d-flex">
                <i class="font-xll text-primary align-self-center flaticon-love"></i>
                <div class="feature-info-content ps-3">
                  <label class="mb-1">Gender</label>
                  <span class="mb-0 fw-bold d-block text-dark">Female</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
              <div class="d-flex">
                <i class="font-xll text-primary align-self-center flaticon-bar-chart"></i>
                <div class="feature-info-content ps-3">
                  <label class="mb-1">Career Level</label>
                  <span class="mb-0 fw-bold d-block text-dark">Executive</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-md-0 mb-4">
              <div class="d-flex">
                <i class="font-xll text-primary align-self-center flaticon-apartment"></i>
                <div class="feature-info-content ps-3">
                  <label class="mb-1">Industry</label>
                  <span class="mb-0 fw-bold d-block text-dark">Management</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-sm-0 mb-4">
              <div class="d-flex">
                <i class="font-xll text-primary align-self-center flaticon-medal"></i>
                <div class="feature-info-content ps-3">
                  <label class="mb-1">Experience</label>
                  <span class="mb-0 fw-bold d-block text-dark">2 Years</span>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-sm-6">
              <div class="d-flex">
                <i class="font-xll text-primary align-self-center flaticon-mortarboard"></i>
                <div class="feature-info-content ps-3">
                  <label class="mb-1">Qualification</label>
                  <span class="mb-0 fw-bold d-block text-dark">Bachelor Degree</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="my-4 my-lg-4">
          <h5 class="main-h5 mb-3 mb-lg-4">Job Description</h5>
          <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
          <p class="fst-italic">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
        </div>
        <hr>
        <div class="my-4 my-lg-4">
          <h5 class="main-h5 mb-3 mb-lg-4">Required Knowledge, Skills, and Abilities</h5>
          <ul class="list-unstyled list-style">
            <li><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
            
            <li><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
            <li class="mb-0"><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
          </ul>
        </div>
        <hr>
        <div class="mt-4 mt-lg-4">
          <h5 class="main-h5 mb-3 mb-lg-4">Education + Experience</h5>
          <ul class="list-unstyled list-style mb-4 mb-lg-0">
            <li><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
            <li><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
            <li><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
            <li class="mb-0"><i class="far fa-check-circle font-md text-primary me-2"></i>Lorem Ipsum - has been the industry's standard dummy text ever since the 1500s.</li>
          </ul>
        </div>
      </div>
      <!--=================================
      sidebar -->
      <div class="col-lg-4">
        <div class="sidebar mb-0">
          <div class="widget d-grid">
            <a class="btn btn-secondary" href="#"><i class="far fa-paper-plane"></i>Apply for job</a>
          </div>
         
          <div class="widget ">
            <div class="widget-title">
              <h5 class="main-h5">Similar Jobs</h5>
            </div>
            <div class="similar-jobs-item widget-box bg-white">
              <div class="job-list">
                <div class="job-list-div">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="images/marketing.png" alt="">
                    <!-- <i class="flaticon-doc"></i> -->
                  </div>
                </div>
                <div class="job-list-details">
                  <div class="job-list-info">
                    <div class="job-list-title">
                      <ul class="list-unstyled">
                        <li><h5 class="mb-0"><a href="#">Lorem Ispum</a></h5></li>
                      </ul>
                    </div>
                    <div class="job-list-option">
                      <ul class="list-unstyled">
                        <li><a href="#">ABC Hospital</a> </li>
                        <li class="location"><i class="fas fa-map-marker-alt pe-1"></i><span>Moga</span></li>
                        <li class="ctc"><i class="fas fa-rupee-sign pe-1"></i><span>Annual CTC: 60 to 72 Lacs</span></li>
                        </ul>
                   </div>
                  </div>
                </div>
                
              </div>
              <div class="job-list">
                <div class="job-list-div">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="images/marketing.png" alt="">
                    <!-- <i class="flaticon-doc"></i> -->
                  </div>
                </div>
                <div class="job-list-details">
                  <div class="job-list-info">
                    <div class="job-list-title">
                      <ul class="list-unstyled">
                        <li><h5 class="mb-0"><a href="#">Lorem Ispum</a></h5></li>
                      </ul>
                    </div>
                    <div class="job-list-option">
                      <ul class="list-unstyled">
                        <li><a href="#">ABC Hospital</a> </li>
                        <li class="location"><i class="fas fa-map-marker-alt pe-1"></i><span>Moga</span></li>
                        <li class="ctc"><i class="fas fa-rupee-sign pe-1"></i><span>Annual CTC: 60 to 72 Lacs</span></li>
                        </ul>
                   </div>
                  </div>
                </div>
                
              </div>
              <div class="job-list">
                <div class="job-list-div">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="images/marketing.png" alt="">
                    <!-- <i class="flaticon-doc"></i> -->
                  </div>
                </div>
                <div class="job-list-details">
                  <div class="job-list-info">
                    <div class="job-list-title">
                      <ul class="list-unstyled">
                        <li><h5 class="mb-0"><a href="#">Lorem Ispum</a></h5></li>
                      </ul>
                    </div>
                    <div class="job-list-option">
                      <ul class="list-unstyled">
                        <li><a href="#">ABC Hospital</a> </li>
                        <li class="location"><i class="fas fa-map-marker-alt pe-1"></i><span>Moga</span></li>
                        <li class="ctc"><i class="fas fa-rupee-sign pe-1"></i><span>Annual CTC: 60 to 72 Lacs</span></li>
                        </ul>
                   </div>
                  </div>
                </div>
                
              </div>
              <div class="job-list">
                <div class="job-list-div">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="images/marketing.png" alt="">
                    <!-- <i class="flaticon-doc"></i> -->
                  </div>
                </div>
                <div class="job-list-details">
                  <div class="job-list-info">
                    <div class="job-list-title">
                      <ul class="list-unstyled">
                        <li><h5 class="mb-0"><a href="#">Lorem Ispum</a></h5></li>
                      </ul>
                    </div>
                    <div class="job-list-option">
                      <ul class="list-unstyled">
                        <li><a href="#">ABC Hospital</a> </li>
                        <li class="location"><i class="fas fa-map-marker-alt pe-1"></i><span>Moga</span></li>
                        <li class="ctc"><i class="fas fa-rupee-sign pe-1"></i><span>Annual CTC: 60 to 72 Lacs</span></li>
                        </ul>
                   </div>
                  </div>
                </div>
                
              </div>
              <div class="job-list">
                <div class="job-list-div">
                  <div class="job-list-logo">
                    <img class="img-fluid" src="images/marketing.png" alt="">
                    <!-- <i class="flaticon-doc"></i> -->
                  </div>
                </div>
                <div class="job-list-details">
                  <div class="job-list-info">
                    <div class="job-list-title">
                      <ul class="list-unstyled">
                        <li><h5 class="mb-0"><a href="#">Lorem Ispum</a></h5></li>
                      </ul>
                    </div>
                    <div class="job-list-option">
                      <ul class="list-unstyled">
                        <li><a href="#">ABC Hospital</a> </li>
                        <li class="location"><i class="fas fa-map-marker-alt pe-1"></i><span>Moga</span></li>
                        <li class="ctc"><i class="fas fa-rupee-sign pe-1"></i><span>Annual CTC: 60 to 72 Lacs</span></li>
                        </ul>
                   </div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--=================================
      sidebar -->
    </div>
  </div>
</section>
<!--=================================
job list -->

<!--=================================
Footer-->
<footer class="footer mt-0">
  <div class="container">

    <div class="row">
        <div class="col-lg-8">
          <div class="footer-logo"><a class="navbar-brand" href="index.html">
              <img class="img-fluid" src="images/footer-logo.png" alt="logo"></a></div>
          <div class="row">
            <div class="col-lg-4 col-md-6">
              <div class="footer-link">
                <h5>QUICK LINKS</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="footer-link">
                <h5>JOB SEEKER</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
            <div class="col-lg-4 col-md-6">
              <div class="footer-link">
                <h5>RECRUITERS</h5>
                <ul class="bullets">
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About US</a></li>
                  <li><a href="#">Career</a></li>
                  <li><a href="#">Feedback</a></li>
                  <li><a href="#">Terms & Conditions</a></li>
                  <li><a href="#">Private Policies</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 pt-3">
            <div class="footer-contact-info bg-holder">
              <ul class="list-unstyled mb-0">
                <li><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor cumsan lacus vel facilisis. </p></li>
                <li><h4>DOWNLOAD APP</h4></li>
                <li>
                  <div class="d-block d-sm-flex mb-0 mb-lg-2 download-btns">
                    <a class="btn btn-white btn-outline-dark btn-app mb-2 mb-sm-0 py-2 me-2" href="#">
                      <i class="fab fa-google-play"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Get it on  </small>
                        <span class="mb-0 d-block">Google Play</span>
                      </div>
                    </a>
                    <a class="btn btn-white btn-outline-dark btn-app" href="#">
                      <i class="fab fa-apple"></i>
                      <div class="btn-text text-start">
                        <small class="fw-normal">Download on the </small>
                        <span class="mb-0 d-block">App Store</span>
                      </div>
                    </a>
                  </div>
                </li>
                <li class="pb-1"><h4>STAY CONNECTED</h4></li>
                <li class="social">
                  <ul class="list-unstyled">
                    <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                  </ul>
                </li>
              </ul>
              
            </div>
          
        </div>
    </div>
  </div>
 
  <div class="footer-bottom border-dark-top">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-center">
          <p class="mb-0"> © 2022 Docladder. ALL RIGHTS RESERVED </p>
        </div>
      </div>
    </div>
  </div>
</footer>
<!--=================================
Footer-->


   <div id="back-to-top" class="back-to-top">
     <i class="fas fa-angle-up"></i>
   </div>
<!--=================================
Back To Top-->

<!--=================================
Javascript -->

      <!-- JS Global Compulsory (Do not remove)-->
      <script src="js/jquery-3.6.0.min.js"></script>
      <script src="js/popper/popper.min.js"></script>
      <script src="js/bootstrap/bootstrap.min.js"></script>

      <!-- Template Scripts (Do not remove)-->
      <script src="js/custom.js"></script>

</body>
</html>
